{% extends 'bootstrap.html.twig' %}



{% block body %}


    <h2>Detail de produit</h2>
    <br><br>
    <div class="col">
        <a href="">
            <img class="img-fluid" src="{{ p.img }}">
        </a>
        <h3>{{ p.titre }}</h3>
        
        <p>{{ p.description }}</p>

   




</div><!--  end row -->



{% endblock %}
